* {
    padding: 0px;
    margin: 0px;
}
.navigator {
    padding: 20px;
}
#secao {
    padding: 30px;
}
.cards {
    margin-bottom: 20px;
}
.titulos {
    padding: 20px;
    font-size: 2rem;
    font-weight: bolder;
}
.dados {
    font-weight: bold;
    font-size: 20px ;
}